html{
	/*height: 1805px;*/
	/*background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100% */
	overflow: scroll;
}    
#content{
	width:70%;
	margin:auto;
	font-family: 'lato',sans-serif;
	font-weight: 300;
	letter-spacing: 5px;
}
.stars{
	width: 1px;
	height: 1px;
	background: transparent;
 
	animation: animStar 50s linear infinite;
}
.stars:after{
	content: " ";
	position: absolute;
	top: 1000px;
	width: 1px;
	height: 1px;
	background: transparent;
}
.stars2{
	width: 2px;
	height: 2px;
	background: transparent;
	animation: animStar 100s linear infinite;
    }
.stars2:after{
	content: " ";
	position: absolute;
	top: 1000px;
	width: 2px;
	height: 2px;
	background: transparent;
}
.stars3{
	width: 3px;
	height: 3px;
	background: transparent;
	animation: animStar 150s linear infinite;
}
.stars3:after{
	content: " ";
	position: absolute;
	top: 1000px;
	width: 3px;
	height: 3px;
	background: transparent;
}
#title{
	width:100%;
  	margin-top:1%;
	text-align:center;
	font-size: 60px;
	letter-spacing: 5px;
  
	
}
#subtitles{
	color:#FFF;
	margin:10px;

	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.subtitle{
	width:33%;
	text-align:center;
}
h4{
	display:inline-block;
}
a{
	color:#CCC;
	text-decoration:none;
}
a:hover{
	color:#999;
}
h5{
	color:rgba(0, 0, 0, .7);
	margin:0;
	z-index:2;
/*
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
*/
}
.background{
	z-index:-1;
	
}
#info{
	color: #FFF;
	margin-top:1%;
	margin-bottom:3%;
	width:100%;
	display:flex;
	justify-content:space-between;

}
.panel{
	background-color:rgba(0, 0, 0, .7);
	margin:2px;
	border-radius:2px;
}
.info-panel{
	width:33%;
	display:flex;
	flex-direction:column;
}
#about{
	padding-top:1%
	width:100%;
	display:flex;
	margin-top:1%;
	justify-content:center;
	border-radius:2px;
}
#about-text{
	width:80%;
	color:#DDD;
	font-size:20px;
}
#about a{
	color:#999;
}
#about a:hover{
	color:#666;
}
h3{
	color:#DDD;
	margin-bottom:0;
	text-align:center;
	font-size: 35px;
	opacity:1;
}
ul{
	padding-right:4px;
	color:#DDD;
	font-size:16px;
}
li{
	margin-top:3%;
}
@media (max-width: 1100px){
	#subtitles{
		flex-direction:column;
		justify-content:center;
	}
	.subtitle{
		width:100%;
	}
	#about{
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	#about-text{
		order:-1;
		width:95%;
		margin-left:auto;
		margin-right:auto;
	}
	.info-panel{
		width:100%;
	}
	#info{
		flex-direction:column;
	}
	h4{
		margin:5px;
		text-align:center;
	}
	#email{
		order:-1;
	}
}
@keyframes animStar{
	from{transform: translateY(0px);}
	to{transform: translateY(-1000px);}}
